
.{
    width: 50px;
    border: solid;
}


#active-song{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

img {
    border-radius: 200px;
    height: 50vh;
    width: 25;
}

